.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto; 
}